<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <%- include("includes/header")%>
        <br>
<div7 style="background-color:yellow ;">
<h1 style="text-align: center;">قسم التقديم علي المدارس</h1><br>
<div4 style="display: flex;justify-content: center;">        
        <form action="/create-schl" method="post">
      <fieldset>
        <legend style="text-align:center;justify-content: center;background-color: yellow;color: black;">طلب تقديم علي المدرسة</legend><br>
        <ul>
            <li>
            <label for="studentname"><small>اسم الطالب</small></label><br>
            <input type="text" id="studentname" name="studentname" autocomplete="off">
            </li>
            <li>
            <label for="studentnation"><small>الرقم القومي للطالب</small></label><br>
            <input type="number" id="studentnation" name="studentnation" autocomplete="off">
            </li>
            <li>
            <label for="schoolname"><small>اسم المدرسة</small></label><br>
            <input type="text" id="schoolname" name="schoolname" autocomplete="off">
            </li>
        </ul>    
          <button style="color: red;margin-left:80px;">تسجيل الطلب</button> 
          <% errors.forEach(error=>{ %>
            <p style="color: red;text-align: end;"><%=error%></p>
            <% }) %>
       </fieldset>
      </form>
</div4>  
</div7>
</html>